.title {
    text-align: center;
    padding-top: 5%;
}
.project-name {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    
}

.project-container {
    background-color: rgb(242, 241, 241);
    width: 50vw;
    border-radius: 10px;
    position: relative;
    top: -10px;
    padding-left: 20px;
    padding-top: 5px;
    margin-left: 200px;
    
}

.footer-buttons {
    margin-top: 10%;
    display: flex;
    justify-content: end;
}

.project-align {
    display: flex;
}