
.task-item {
    width: 30%;
    border-radius: 5px;
    border: 1px solid black;
    
}



.task-description {
    border: none;
}

.task-description:focus {
    outline: none;
    font-family: 'Roboto' ;
    color: grey;
}
.date-picker {
    color: grey;
    display: flex;
    flex-direction: row-reverse;
}

