.left {
    display: flex;
    /* gap: 0 5px; */
    align-items: center;
    cursor: pointer
}

.tool-bar {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    gap: 0 10px;
    cursor: pointer;

}